@import "vue-toastification/dist/index.css";
@import "tailwindcss";

@theme {
  --color-background: #00d3f3;
  --color-primary: #00d3f3;
  --color-secondary: #132348;
  --color-light: #cbfbf1;
  --color-border: #f1f1f1;
  --color-heading: #13163f;
  --color-body: #132348cf;

  --color-success: #0e9a5f;
  --color-warning: #fdae1c;
  --color-danger: #ff4040;
  --color-info: #1c8bef;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-script: Great Vibes, cursive;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  dialog {
    margin: auto;
  }

  table {
    @apply w-full border-separate border-spacing-y-2;
  }

  thead {
    @apply bg-gray-50;
  }

  thead th {
    @apply px-4 py-3 text-left text-xs font-semibold capitalize;
  }

  tbody tr {
    @apply bg-white rounded transition;
  }

  tbody td {
    @apply px-4 py-1.5 text-sm text-gray-700;
  }

  tbody tr td:first-child {
    @apply rounded-l-lg;
  }

  tbody tr td:last-child {
    @apply rounded-r-lg;
  }

  tbody tr:nth-child(even) {
    @apply bg-gray-50;
  }
}

@layer components {
  /* Default hidden scrollbar */
  .scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
    transition: width 0.25s ease, height 0.25s ease;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 211, 243, 0.4);
    border-radius: 10px;
    transition: background-color 0.25s ease;
  }

  /* Hover — show with animation */
  .scrollbar:hover::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 211, 243, 0.9);
  }

  .router-link-active,
  .router-link-exact-active {
    @apply text-primary font-semibold;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 211, 243, 0.9);
  }

  .base__button {
    @apply bg-primary text-white px-3.5 py-1.5 rounded;
  }

  .base__button__outline {
    @apply border border-primary text-primary bg-transparent px-3.5 py-1.5 rounded;
  }

  .form__group {
    @apply mb-3;
  }

  .form__label {
    @apply mb-3;
  }

  .form__control {
    @apply max-w-full px-2.5 py-1.5 rounded border focus:border-primary focus:outline-none focus:outline-primary disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500;
  }

  .base__select {
    @apply max-w-full px-2.5 py-2 rounded border focus:border-primary focus:outline-none focus:outline-primary disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500;
  }

  .badge__button {
    @apply bg-gray-200 px-3 py-1 rounded-full text-sm hover:bg-gray-300;
  }

  .card {
    @apply bg-white  rounded-2xl border border-gray-200 overflow-hidden;
  }

  .card__header {
    @apply flex items-center justify-between px-6 py-4 border-b border-gray-200;
  }

  .card__title {
    @apply text-lg font-semibold text-gray-900;
  }

  .card__link {
    @apply inline-flex items-center gap-2 rounded bg-primary px-4 py-2 text-sm font-medium text-white transition hover:bg-primary/70 focus:outline-none;
  }

  .card__body {
    @apply p-6 text-gray-600 overflow-x-auto;
  }

  .badge {
    @apply inline-flex items-center gap-2 rounded-full border px-3 py-1 capitalize text-xs font-medium;
  }

  .badge__success {
    @apply border-green-300 bg-green-50 text-green-700;
  }

  .badge__warning {
    @apply border-amber-300 bg-amber-50 text-amber-700;
  }

  .badge__info {
    @apply border-blue-300 bg-blue-50 text-blue-700;
  }

  .badge__danger {
    @apply border-red-300 bg-red-50 text-red-700;
  }

  /* Base Action Button */
  .action__success,
  .action__info,
  .action__danger {
    @apply px-2 py-1 text-xs font-medium rounded transition;
  }

  .action__success {
    @apply bg-green-600 text-white hover:bg-green-700;
  }

  .action__info {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }

  .action__danger {
    @apply bg-red-600 text-white hover:bg-red-700;
  }
}
