name: Deploy Vue App to cPanel via FTP

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build Vite App
        run: npm run build

      - name: Upload dist to cPanel via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: "ftp.buyzin.com"
          username: "nuxt-deploy@buyzin.com"
          password: "hwX]%05h!VmU"
          port: 21
          server-dir: /
          local-dir: dist/
